html,body{
    height: 100%;
    width: 100%;
    background:  #317773;
}


#time{
    padding:15px;
    color:  #4831D4;
    margin: 30px 0;
    background-color:  #00FFFF;
}
#date{
    margin: 30px 0;
    padding:15px;
    color:  #4831D4;
    background-color:  #00FFFF;;
    
}
#div{
    margin:95px 140px;
    text-align: center;
    width: 60%;
    height: 80%;
    border-radius: 18px;
    background-color:  #CCF381;
    display:inline-block;
}
/* html,body{
    height: 100%;
    width: 100%;
    align-items: center;
}

.m0{
    margin: 30px 20%;
    display:inline-flex;
}
.m1{ 
    height: 80px;
    width: 80px;
    padding: 90px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(107, 218, 225);
}
#date{
    height: 20px;
    width: 80px;
    padding:5px;
    margin:7px,0;
    border-radius: 10px;
    background-color: rgb(0, 255, 102);
    color: rgb(69, 21, 113);
    text-align:center;
}

#time{
    padding: 5px;
    height: 20px;
    width: 80px;
    margin: 7px 0 ;
    border-radius: 10px;
    background-color: rgb(0, 255, 102);
    color: blueviolet;
    text-align:center;
} */